html {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-size: 10px;
}

a {
    text-decoration: none;
    color: $color-light;
}

h1 {
    @include font(10.7rem, 80%, 700);
}

h2 {
    @include font(4.8rem, 120%);
}

h3 {
    @include font(3.6rem, 130%);
}

h4 {
    @include font(2.4rem, 120%);
}

.text-body {
    @include font(1.6rem, 140%);
}

.text-small {
    @include font(1.5rem, 120%, 300);
}

.text-button {
    @include font(1.6rem, 140%, 500);
    text-transform: uppercase;
}

.text-thin {
    @include font(1.6rem, 130%, 100);
}