$color-primary: #F9804B;
$color-hovered: #E47209;
$color-active: #4B9200;
$color-disabled: #767474;
$color-mistake: #D31414;
$color-light: #FFFFFF;
$color-dark: #000000;
$color-glass: #FDFDFF;
$color-glass-transparent: rgba(253, 253, 255, 0.52);
$color-cards: #F1F3F2;
$color-dark-prim: #333B41;
$color-text-add: #767474;
$color-text-hide: #BDBDBD;
$color-text-selection: #FFEE2E;
$color-icon-social: rgba(196, 196, 196, 0.5);


$content-width: 1160px;

