.buttons {
    @include font(1.6rem, 140%, 500);
    border-radius: 5px;
    cursor: pointer;
}

.button-colored {
    color: $color-light;
    background: $color-primary;
    border: none;
    padding: 16px 0;
    min-width: 298px;
    text-transform: uppercase;
    transition: background-color 0.3s;
    &:hover {
        background: $color-hovered;

    }
    &:active {
        background: green;
    }
}

.button-bordered {
    border-radius: 25px;
}

.button-submit {
    padding: 10px 39px;
    color: $color-dark-prim;
    border: 1px solid $color-dark-prim;
    &:active {
        border-color: $color-active;
        color: $color-active;
    }
}